:root {
    --white-color:                  #ffffff;
    --primary-color:                #13547a;
    --secondary-color:              #80d0c7;
    --section-bg-color:             #f0f8ff;
    --custom-btn-bg-color:          #80d0c7;
    --custom-btn-bg-hover-color:    #13547a;
    --dark-color:                   #000000;
    --p-color:                      #717275;
    --border-color:                 #7fffd4;
    --link-hover-color:             #13547a;
  
    --body-font-family:             'Open Sans', sans-serif;
    --title-font-family:            'Montserrat', sans-serif;
  
    --h1-font-size:                 58px;
    --h2-font-size:                 46px;
    --h3-font-size:                 32px;
    --h4-font-size:                 28px;
    --h5-font-size:                 24px;
    --h6-font-size:                 22px;
    --p-font-size:                  20px;
    --menu-font-size:               14px;
    --btn-font-size:                18px;
    --copyright-font-size:          16px;
  
    --border-radius-large:          100px;
    --border-radius-medium:         20px;
    --border-radius-small:          10px;
  
    --font-weight-normal:           400;
    --font-weight-medium:           500;
    --font-weight-semibold:         600;
    --font-weight-bold:             700;
  }


*{
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }

  p, h1, h2, h3,h4, h5,h6 {
    font-family: poppins, sans-serif;
    padding: 10px;
    }


body{
    background: #dbe2e9;
    font-family: Arial, Helvetica, sans-serif;
}



.heading{
    text-align: center;
    justify-content:space-between;
    margin-top: 10px;
    margin-bottom: 3px;
    background: linear-gradient(to top, rgba(10, 13, 43, 0.2),rgba(206, 21, 21, 0.089)),url(clay-bank-unsplash.jpg);
    background-size: cover;
    color: #fff;
}

.heading > h1 {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}


.top-heading {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
    list-style: none;
    text-decoration: none;
    justify-content: end;
}



/*---------------------------------------
  HERO        
-----------------------------------------*/
.site-header {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    padding-top: 150px;
    padding-bottom: 80px;
}


h6 {
color: #13547a;
font-size: 22px;
}

.crumb-link {
    display: inline-block;
    color: #13547a;
    text-decoration: none;
}



/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
    background: var(--custom-btn-bg-color);
    border: 2px solid transparent;
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-semibold);
    line-height: normal;
    transition: all 0.3s;
    padding: 10px 20px;
  }
  
  .custom-btn:hover {
    background: var(--custom-btn-bg-hover-color);
    color: var(--white-color);
  }
  
  .custom-border-btn {
    background: transparent;
    border: 2px solid var(--custom-btn-bg-color);
    color: var(--custom-btn-bg-color);
  }
  
  .custom-border-btn:hover {
    background: var(--custom-btn-bg-color);
    border-color: transparent;
    color: var(--white-color);
  }
  
  .custom-btn-bg-white {
    border-color: var(--white-color);
    color: var(--white-color);
  }


  .topics-detail-block-image {
    display: block;
    border-radius: var(--border-radius-medium);
}


.input-img{
    width: 500px;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.line{
    width: 200px;
    height: 50px;
    background-color: #F8EEC3;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: poppins, sans-serif;
    
}

.about{
    background-color: black;
    color: #fff;
    margin-top: 25px;
    padding: 20px; 
}

.about > h2 {
    padding-left: 10px;
    padding-bottom: 10px;
}

.main-lead{
    text-align: center;
    justify-content:space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aliceblue;
}

.main-lead > h1 {
    font-size: 2.5rem;
    font-weight: 400;
    /* font-family: Arial, Helvetica, sans-serif; */
    padding-top: 10px;
}
.leading{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 20px;
    list-style: none;
    text-decoration: none;
    justify-content: end;
}

.lead1{
    color: black;
}

.calculator{
    /* margin-top: 30px; */
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
     background-color: #f0f0f0;
    border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.calculator > h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-left: 20px;
}
.name-title{
    width: 95%;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group{
    margin-bottom: 15px;
    padding-right: 20px;
}

#time{
    width: 105%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="number"], input[type="text"], select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 20px;
}

/* #resultSection{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

} */

.main-result {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
}

tr {
    font-weight: 400;
}
.adim{
    width: 125px;
    font-weight: 700;
}

.remove-bold {
    font-weight: 400;
}











.centered {
  width: 65%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

.control {
    padding: 20px;
    background-color: white;
    border-radius: 12px;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 12px;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    width: 200px;
    border-radius: 15px;
    margin-right: 10px;
  }
  
  .search-button {
    background-color: #007bff;
    color: white;
    border: none;
    width: 150px;
    outline: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 0;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }

.show-vacancies {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
}

.jobTitleDisplay {
    color: #007bff;
}

.titleContainer {
    padding: 7px;
    background-color: #ecedef8c;
    border-radius: 7px;
    margin-bottom: 15px;
    border: 1px solid #0000001c;
}

.title-head {
    cursor: pointer;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 4px;
    border: 1px solid #00000059;
    border-radius: 12px;
    color: blue;
}

.job-info {
    margin-bottom: 14px;
}

.location {
    font-size: 13px;
}

.soc {
    margin-bottom: 15px;
}

.desc {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.desc span, .task span {
    font-weight: 600;
}

.view-post {
    padding: 10px;
    background-color: #0056b3;
    color: white;
}


